.App{
    display: flex;
    flex-direction: column;
    background-color: #2596be;
    min-height: 100vh;
    
    /* background by SVGBackgrounds.com */
    background-color: #330033;
    background-image: url(bg.svg);
}