.Footer{
    display: flex;
    padding: 10px;
    height: 5vh;
    font-weight: bold;
    align-items: center;
    justify-content: flex-end;
    font-size: 1rem;
}
.Footer .emoji{
    font-size: 1.2rem;
    margin-left: 10px;
}